In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.5.1'

# Aula Pandas

## Meu primeiro projeto

In [23]:
dataset = 'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';')

In [22]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/servidores.csv'
pd.read_csv(dataset, encoding='utf-16le')

,SMMNGTSV01,2N® IP Audio Control Panel 2.3.1.3.20,Unnamed: 2
0,SMMNGTSV01,FileZilla Client 3.51.0,NaN
1,SMMNGTSV01,GNU Privacy Guard,NaN
2,SMMNGTSV01,Gpg4win (3.1.15),NaN
3,SMMNGTSV01,Microsoft Edge Beta,101.0.1210.19
4,SMMNGTSV01,Microsoft Edge Update,1.3.157.61
...,...,...,...
325,SMSCCSV00,Microsoft Help Viewer 1.1,16882971
326,SMSCCSV00,Microsoft System CLR Types for SQL Server 2012...,184819027
327,SMSCCSV00,Local Administrator Password Solution,100794368
328,SMSCCSV00,Microsoft Deployment Toolkit 2013 Update 2 (6....,100868234
329,SMSCCSV00,Microsoft SQL Server 2012 Management Objects ...,184551476

In [25]:
df.head(5)

         data     estilo  quantidade de garrafas  preço da garrafa
0  2021-11-01      tinto                       7            219.69
1  2021-11-01     branco                       4            118.83
2  2021-11-01  espumante                       5            110.38
3  2021-11-02      tinto                       3            215.55
4  2021-11-02     branco                       2            118.83

In [26]:
df.tail(3)

          data     estilo  quantidade de garrafas  preço da garrafa
42  2021-11-15      tinto                      10            207.26
43  2021-11-15     branco                      10            103.63
44  2021-11-15  espumante                      15            104.86

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     object
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int64
 3   preço da garrafa        45 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.5+ KB

In [28]:
df.columns

Index(['data', 'estilo', 'quantidade de garrafas', 'preço da garrafa'], dtype='object')

In [30]:
# pd.to_numeric()
df['quantidade de garrafas'] = pd.to_numeric(df['quantidade de garrafas'], downcast='integer')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     object
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int8
 3   preço da garrafa        45 non-null     float64
dtypes: float64(1), int8(1), object(2)
memory usage: 1.2+ KB

In [32]:
df.describe()

       quantidade de garrafas  preço da garrafa
count               45.000000         45.000000
mean                 8.244444        138.060222
std                  4.156898         49.253588
min                  1.000000         77.220000
25%                  5.000000        103.630000
50%                  8.000000        110.380000
75%                 10.000000        207.260000
max                 20.000000        227.980000

In [35]:
df['preço da garrafa'].min()

77.22

In [36]:
df['estilo'].describe()

count        45
unique        3
top       tinto
freq         15
Name: estilo, dtype: object

In [37]:
df.dtypes

data                       object
estilo                     object
quantidade de garrafas       int8
preço da garrafa          float64
dtype: object

In [40]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';', parse_dates=['data'])

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     datetime64[ns]
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int64
 3   preço da garrafa        45 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.5+ KB

In [44]:
df.shape

(45, 4)