# Atividade Prática 1

## DataScience

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.1'

In [9]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wine_billing.csv'
df = pd.read_csv(dataset, sep=';', parse_dates=['data'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     datetime64[ns]
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int64
 3   preço da garrafa        45 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.5+ KB

In [5]:
df.head()

         data     estilo  quantidade de garrafas  preço da garrafa
0  2021-11-01      tinto                       7            219.69
1  2021-11-01     branco                       4            118.83
2  2021-11-01  espumante                       5            110.38
3  2021-11-02      tinto                       3            215.55
4  2021-11-02     branco                       2            118.83

In [12]:
df['quantidade de garrafas'] = pd.to_numeric(df['quantidade de garrafas'], downcast='integer')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     datetime64[ns]
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int8
 3   preço da garrafa        45 non-null     float64
dtypes: datetime64[ns](1), float64(1), int8(1), object(1)
memory usage: 1.2+ KB

In [16]:
df['preço da garrafa'] = pd.to_numeric(df['preço da garrafa'], downcast='float')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data                    45 non-null     datetime64[ns]
 1   estilo                  45 non-null     object
 2   quantidade de garrafas  45 non-null     int8
 3   preço da garrafa        45 non-null     float32
dtypes: datetime64[ns](1), float32(1), int8(1), object(1)
memory usage: 1.0+ KB

In [18]:
df.describe()

       quantidade de garrafas  preço da garrafa
count               45.000000         45.000000
mean                 8.244444        138.060211
std                  4.156898         49.253586
min                  1.000000         77.220001
25%                  5.000000        103.629997
50%                  8.000000        110.379997
75%                 10.000000        207.259995
max                 20.000000        227.979996

In [19]:
print(f'A quantidade de linhas é {df.shape[0]} e a quantidade de colunas é {df.shape[1]}')

A quantidade de linhas é 45 e a quantidade de colunas é 4

In [37]:
values_uniques = df['estilo'].unique()

In [38]:
print(f'Os tipos de vinho que existem em estoque são {values_uniques}')

Os tipos de vinho que existem em estoque são ['tinto' 'branco' 'espumante']